body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f1f1f1;
    padding-top: 20px;
}

.logo {
    margin-right: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
}

.header-nav {
    position:absolute;
    top:50px;
    width: 100%;
    height:50px;
    background-color: #032f5e;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container-nav {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    background-color: #f8f9fa !important;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;
    width: 100%;
}

.navbar-login {
    position: absolute;
    right: 1%;
    display: inline;
    justify-content:space-around;
}

.login-buttons-container {
    display: inline-block;
}

.login-buttons {
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background-color: transparent;
    color: #5498e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-buttons-big {
    width: fit-content;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-buttons:hover {
    text-decoration: none;
}

.read-nxt-buttons {
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background-color: transparent;
    color: #5498e2;
    border: 1px solid #5498e2;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-buttons {
    margin: 10px 0 10px 0;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background-color: transparent;
    color: #5498e2;
    border: 1px solid #5498e2;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-panel-btn {
    position: relative;
    padding-left: 10px;
    text-decoration: none;
}

.container-left {
    position:absolute;
    left:1px;
    width:20%;
}

pre {
    position: relative;
    white-space: pre-wrap;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
    border-radius: 4px;
    background-color: #f1f1f1
}

pre.line-numbers > code {
    position: relative;
    white-space: pre;
    display: block;
}

.page_filters {

}

.btn-copy {
    left:10px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
}

.btn-copy:hover {
    background-color: #e1e1e1;
}

.mce-content-body pre code {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
}


.article-date-search input {
    border: 1px solid #ccc;
}

.article-search {
    display: flex;
    gap: 5px;
    max-width: 100px;
}

.article-search input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.article-search button {
    padding: 5px 10px;
    background-color: transparent;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.article-search button:hover {
    background-color: #0056b3;
}

.create-article-btn {
    display: inline-block;
    margin-top: 5px;
    padding: 4px 10px 4px 10px;
    background-color: transparent;
    color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-article-btn:hover {
    background-color: #1f7a33;
    animation-iteration-count: infinite;
    text-decoration: none;
}

.create-article-btn-big {
    width: fit-content;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-category-btn-big {
    margin: 15px 0 15px 0;
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-container {
    position:relative;
    background-color: #f7d890;
}

#languageButtons {
    position: relative;
    left: 120px;
    border: 0px solid #ddd;

}

.language-btn {
    margin: 2px 5px 2px 2px;
    padding: 3px 10px;
    border: 0px solid #ddd;
    background-color: #f7d890;
    cursor: pointer;
}

.language-btn.active {
    background-color: #007bff;
    color: white;
}

.language-btn:hover {
    color: #06c;
}

.login-card {
    max-width: 27%;
    margin: 0 auto;
    padding: 15px;
    transition: box-shadow 0.3s;
}

/* Карточка приветствия на главной странице */
.welcome-card {
    position: relative;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    background-color: #171431;
    color: white;
    overflow: hidden;
    min-height: 165px;
}

.welcome-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 0 10px;
}

.welcome-text {
    width: 50%;
    min-width: 365px;
}

.welcome-image {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0px;
    width: 185px;
    height: 185px;
}
/* Конец карточки приветствия на главной странице */

/* Подсказка для создания статьи - название */
.article-create-title-card {
    position: relative;
    margin: 15px 0 5px 0;
    padding: 15px;
    border: 5px solid transparent;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    background-color: white;
    color: black;
    overflow: hidden;
    min-height: 110px;
}

.article-create-title-card.collapsed {
    display: none;
}

.article-create-title-content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-create-title-text{
    position: absolute;
    left: 120px;
    width: 80%;
    min-width: 365px;
}

.article-create-title-image{
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
/* Конец подсказки для создания статьи - название */

/* Подсказка для создания статьи - содержание */
.article-create-content-card {
    position: relative;
    margin: 15px 0 5px 0;
    padding: 15px;
    border: 5px solid transparent;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    background-color: white;
    color: black;
    overflow: hidden;
    min-height: 110px;
}

.article-create-content-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-create-content-text {
    position: absolute;
    left: 120px;
    width: 80%;
    min-width: 365px;
}

.article-create-content-image {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
/* Конец Подсказка для создания статьи - содержание */

/* Подсказка для создания статьи - синтаксис */
.article-create-syntax-card {
    position: relative;
    margin: 15px 0 0px 0;
    padding: 15px;
    border: 5px solid transparent;
    border-radius: 0px;
    transition: box-shadow 0.3s;
    background-color: #f7d890;
    color: black;
    overflow: hidden;
    min-height: 100px;
}

.article-create-syntax-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-create-syntax-text {
    position: absolute;
    left: 120px;
    width: 80%;
    min-width: 365px;
}

.article-create-syntax-image {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
/* Конец Подсказка для создания статьи - синтаксис */

.article-card-actions {
    display: flex;
    gap: 5px;
}

.article-author-date {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.article-author {
    margin-right: 5px;
    color: #000;
    font-weight: inherit;
    font-size: 14px;
}

.article-date {
    right: 0;
    color: #aaa; /
    font-weight: inherit;
    font-size: 14px;
}

.category-name-card {
    padding-left: 20px;
    font-size: 14px;
    color: #1E40AF;
    width: fit-content;
}

.article-card {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.article-detail-card {
    padding: 15px 15px 15px 15px;
    background-color: #fff;
}

.article-card img {
    max-width: 100%;
    height: auto;
}

.article-card-content {
    padding: 5px 20px 5px 20px;
}

.article-card-content img {
    max-width: 100%;
    height: auto;
}

.article-card:hover {
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);*/
}

.article-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.article-card-title {
    margin: 0;
    font-size: 24px;
}

.edit-article-btn, .delete-article-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
}

.edit-article-btn {
    background-color: transparent;
    opacity: 80%;
    color: #000;
}

.edit-article-btn:hover, .delete-article-btn:hover {
    background-color: transparent;
    opacity: 100%;
}

.delete-article-btn {
    background-color: transparent;
    opacity: 80%;
    color: #000;
}

a:hover {
    text-decoration:none;
}

/* Сброс стандартных стилей */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* равномерное распределение элементов */
    background-color: #333;
}

nav li {
    flex: 1; /* каждый элемент занимает равное пространство */
}

input[id="title"] {
    margin-top: 10px;
    width:100%!important;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    /*font-style: italic;*/
    color: rgba(0,0,0,0.6);
}

input[id="submit"] {
    margin: 15px 0 15px 0;
    padding: 5px 5px 5px 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[id="saveButton"] {
    margin: 15px 0 15px 0;
    padding: 5px 5px 5px 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

div[id="editor"] {
    border: 1px solid #ccc;
    font-size: 18px;
}

.collapsed {
    display:none;
    transition: max-height 0.3s ease;
}


/*#editor {*/
/*  height: auto;*/
/*  min-height: 100%;*/
/*  padding: 50px;*/
/*}*/
/*#editor .ql-editor {*/
/*  font-size: 18px;*/
/*  overflow-y: visible; */
/*}*/


/*#scrolling-container {*/
/*  height: 100%;*/
/*  min-height: 100%;*/
/*  overflow-y: auto;*/
/*}*/

.ql-editor {
    min-height: 300px;
    background-color: #fff;
}

a {
    color: #000;
}



/*!* Мобильное меню *!*/
/*@media (max-width: 600px) {*/
/*    nav ul {*/
/*        flex-direction: column; !* меню становится вертикальным *!*/
/*    }*/
/*    nav a {*/
/*        border-bottom: 1px solid #555; !* добавляем границу между элементами *!*/
/*    }*/
/*}*/



