<div id="overlay">
<div id="codeModal" style="display:none;">
    <select id="languageSelector">
        <option value="python">Python</option>
        <option value="javascript">JavaScript</option>
        <option value="dax">DAX</option>
        <option value="powerquery">Power Query</option>
    </select>
    <textarea id="codeArea"></textarea>
    <button type="button" class="modal-btn-submit" onclick="insertCodeToTinyMCE()">Вставить</button>
    <button type="button" class="modal-btn modal-btn-cancel" onclick="closeModal()">Отмена</button>
</div>
</div>