{% extends "article_create_layout.html" %}

{% block content %}
<div class="article-card">
<h2>Редактировать статью</h2>

<form method="post" id="articleForm">
    {{ form.hidden_tag() }}

    <p>{{ form.title.label }}<br>
       {{ form.title() }}</p>

    <p>{{ form.content.label }}<br>


        <div id="languageButtons">
            <button type="button" class="language-btn" data-language="language-javascript">JavaScript</button>
            <button type="button" class="language-btn" data-language="language-python">Python</button>
            <button type="button" class="language-btn" data-language="language-dax">DAX</button>
            <button type="button" class="language-btn" data-language="language-sql">SQL</button>
        </div>
        <div id="editor" style="min-height:300px;">{{ form.content.data|safe }}</div>
        <textarea id="content" name="content" hidden></textarea>

    </p>

    <p>{{ form.category.label }}<br>
       {{ form.category() }}</p>
    <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}
