{% extends "layout.html" %}

{% block content %}
<div class="article-card">
<h2>Создать статью</h2>
<form method="post" id="articleForm">
    {{ form.hidden_tag() }}

    <p>{{ form.title.label }}<br>
       {{ form.title() }}</p>


    <p>{{ form.content.label }}<br>
       <textarea id="content" name="content" hidden>{{ form.content.data }}</textarea>
    <div id="languageButtons">
        <button type="button" class="language-btn" data-language="language-javascript">JavaScript</button>
        <button type="button" class="language-btn" data-language="language-python">Python</button>
        <button type="button" class="language-btn" data-language="language-dax">DAX</button>
        <button type="button" class="language-btn" data-language="language-sql">SQL</button>
    </div>

<!-- Скрытое поле для хранения выбранного языка -->
<input type="hidden" id="selectedLanguage" name="language">
       <div id="editor" style="min-height:300px;"></div>
    </p>


    <p>{{ form.category.label }}<br>
       {{ form.category() }}</p>
    {% if current_user.is_authenticated and current_user.role.name in ['Администратор', 'Редактор'] %}
    <a href="{{ url_for('add_category') }}">Добавить категорию</a>
    {% endif %}

    <p>{{ form.submit() }}</p>
</form>
</div>

{% endblock %}
