{% extends "layout.html" %}

{% block content %}
<h2>Создать статью</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.title.label }}<br>
       {{ form.title() }}</p>
    <p>{{ form.content.label }}<br>
       {{ form.content() }}</p>
    <p> {% include '_code_modal.html' %}</p>
    <p>{{ form.category.label }}<br>
       {{ form.category() }}</p>
    <a href="{{ url_for('add_category') }}">Добавить категорию</a>
    <p>{{ form.submit() }}</p>
</form>
<script src="{{ url_for('static', filename='wysiwyg.js') }}" defer></script>
{% endblock %}
