<!doctype html>
<html>
<head>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <!-- Для Python -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
    <!-- Для DAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/dax.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mighty BI</title>
</head>
<body>
<div class="header">
    <div class="header-container">

        <nav class="navbar">
            <a class="logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.svg') }}" width="120" height="30"></a>
            <form action="{{ url_for('search') }}" method="get" class="article-search">
            <input type="text" name="query" placeholder="Поиск по статьям...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="navbar-login">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('create_article') }}" class="create-article-btn"><i class="fa-solid fa-plus"></i></a>
                {% endif %}
                {% if current_user.is_authenticated and current_user.role.name == 'Администратор' %}
                <a class="login-buttons" href="{{ url_for('admin.index') }}" class="admin-panel-btn" target="_blank"><i class="fa-solid fa-screwdriver-wrench"></i></a>
                {% endif %}
                {% if current_user.is_authenticated %}
                {{ current_user.username}}
                <a class="login-buttons" href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Выйти</a>
                {% else %}
                <a class="login-buttons" href="{{ url_for('login') }}"><i class="fa-solid fa-door-open"></i> Вход</a>
                <a class="login-buttons" href="{{ url_for('register') }}"><i class="fa-solid fa-hands"></i> Регистрация</a>
                {% endif %}
            </div>
        <nav>
    </div>
</div>

    <div class="container mt-5">

    {% block content %}{% endblock %}
    </div>
<!--  Подключаем и тестируем новый скрипт автолодера для prism   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
<!--  Конец подключения тестируемых скриптов   -->
    <script src="{{ url_for('static', filename='highlight.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='wysiwyg.js') }}" ></script>
    <script src="{{ url_for('static', filename='preview.js') }}" ></script>
</body>
</html>
