{% extends "layout.html" %}
{% block content %}
{% for article in articles %}
<div class="article-card">
   <div class="article-card-header">
      <h3 class="article-card-title"><a href="{{ url_for('article_detail', article_id=article.id) }}">{{ article.title }}</a></h3>
      {% if current_user.is_authenticated %}
      {% if current_user.id == article.author_id or current_user.role.name in ['Администратор', 'Редактор'] %}
      <div class="article-card-actions">
         <a href="{{ url_for('edit_article', article_id=article.id) }}" class="edit-article-btn">
         <i class="fas fa-pencil-alt"></i>
         </a>
         <form action="{{ url_for('delete_article', article_id=article.id) }}" method="post" style="display: inline;">
            <button type="submit" class="delete-article-btn" onclick="return confirm('Вы уверены?')">
            <i class="fas fa-trash"></i>
            </button>
         </form>
      </div>
      {% endif %}
      {% endif %}
   </div>
   <p class="article-date"><b>{{ article.author.username }}</b> {{ article.date_posted.strftime('%Y-%m-%d') }}</p>
   <p>Категория: {{ article.category.name }}</p>
   <div class="article-card-content">
      <p>{{ article.trimmed_content | safe }}</p>
      {% if article.need_more_link %}
      <a class="login-buttons" href="{{ url_for('article_detail', article_id=article.id) }}">Читать далее <i class="fa-solid fa-arrow-right"></i></a>
      {% endif %}
   </div>
</div>
{% endfor %}
{% endblock %}