<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='prism.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='tinymice/plugins/codemirror/codemirror-4.8/lib/codemirror.css') }}">
    <script src="{{ url_for('static', filename='tinymice/plugins/codemirror/codemirror-4.8/lib/codemirror.js') }}"></script>
    <script src="https://cdn.tiny.cloud/1/g0sqhfs4wtt9emslfozn7pco2wrk2uqo2b0o8262cihmymm1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="{{ url_for('static', filename='prism.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Project Alfa</title>
</head>
<body>
    <div class="container mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('index') }}">Мой блог</a>
    </nav>
    {% block content %}{% endblock %}
    </div>
    <script>
    tinymce.init({
        selector: 'textarea',
        external_plugins: {
            codemirror: "{{ url_for('static', filename='tinymice/plugins/codemirror/plugin.js') }}"
        },
        toolbar: 'undo redo | code',
        codemirror: {
            indentOnInit: true,
            path: "{{ url_for('static', filename='tinymice/plugins/codemirror/codemirror-4.8/') }}"
        }
    });
    </script>
    <script src="{{ url_for('static', filename='highlight.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
